* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head img {
    width: 100px;
    height: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 5px solid red;
    border-radius: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Закрепляет блок наверху страницы */
}

.head h1 {
    margin: 0 10px;
    flex-grow: 1;
}

.head a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

body {
    background-color: snow;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh; /* Высота страницы */
    padding-top: 120px; /* Отступ сверху для компенсации фиксированного блока */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1, h2, h3 {
    color: #cc0000;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #cc0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b20000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    color: #cc0000;
}

a {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
