<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Список резюме</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="head">
        <a href="{% url 'main' %}">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/6a/05/bf/6a05bff0-567f-18e6-7792-57f075db7e1b/AppIcon-0-0-1x_U007emarketing-0-7-0-85-220.png/1200x630wa.png" alt="Главная страница"/>
        </a>
        <h1>Добро пожаловать</h1>
        <a href="{% url 'login' %}"><h1>Вход</h1></a>
        <a href="{% url 'register' %}"><h1>Регистрация</h1></a>
        <a href="{% url 'logout' %}"><h1>Выход</h1></a>
    </div>

    <h1>Список резюме</h1>
    <ul>
        {% for resume in rezume %}
            <li>
                <a href="{% url 'detail_rezume' resume.pk %}">{{ resume.nazvanie_vakansii }}</a> -
                <a href="{% url 'udalenie_rezume' resume.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'sozdanie_rezume' %}">Добавить резюме</a>
    <a href="{% url 'spisok_vakansii' %}">Перейти к списку вакансий</a>

</body>
</html>
